@model OCTOTeste.Models.Cliente
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OCTO Beer - alterar/cadastrar clientes</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <h2><b>Cliente</b></h2>
                    </div>
                </div>
                <form method="post">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="Nome">Nome</label>
                            <input type="text" name="Nome" class="form-control" id="Nome" value="@Model.Nome">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="TipoDocumento">Tipo de Documento</label>
                            <select id="TipoDocumento" name="TipoDocumento" class="form-control">
                                <option @(Model.TipoDocumento == "CPF" ? "selected" : "")>CPF</option>
                                <option @(Model.TipoDocumento == "CNPJ" ? "selected" : "")>CNPJ</option>
                            </select>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="Documento">Documento</label>
                            <input type="text" class="form-control" id="Documento" name="Documento" value="@Model.Documento">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="TipoTelefone">Tipo de Telefone</label>
                            <select id="TipoTelefone" name="TipoTelefone" class="form-control">
                                <option @(Model.TipoTelefone == "Celular" ? "selected" : "")>Celular</option>
                                <option @(Model.TipoTelefone == "Residencial" ? "selected" : "")>Residencial</option>
                                <option @(Model.TipoTelefone == "Comercial" ? "selected" : "")>Comercial</option>
                            </select>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="Telefone">Telefone</label>
                            <input type="tel" class="form-control" id="Telefone" name="Telefone" value="@Model.Telefone">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="TipoEndereco">Tipo de Endereço</label>
                            <select id="TipoEndereco" name="TipoEndereco" class="form-control">
                                <option @(Model.TipoEndereco == "Cobrança" ? "selected" : "")>Cobrança</option>
                                <option @(Model.TipoEndereco == "Comercial" ? "selected" : "")>Comercial</option>
                                <option @(Model.TipoEndereco == "Correspondência" ? "selected" : "")>Correspondência</option>
                                <option @(Model.TipoEndereco == "Entrega" ? "selected" : "")>Entrega</option>
                                <option @(Model.TipoEndereco == "Residencial" ? "selected" : "")>Residencial</option>
                            </select>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="Endereco">Endereço</label>
                            <input type="text" class="form-control" id="Endereco" name="Endereco" value="@Model.Endereco">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success">Salvar cliente</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $("#Documento").mask("99.999.999/9999-99");
        $('#TipoDocumento').change(function () {
            if ($('#TipoDocumento option:selected').val() == 'CPF') {
                $("#Documento").mask("999.999.999-99");
            } else {
                $("#Documento").mask("99.999.999/9999-99");
            }
        });
    </script>
</body>
</html>
